{% block Header %}
<div id="header" class="header">
      <div class="mainArea">
        <a href="javascript:void" class="logo icon-logo" title="home"></a>
        <ul class="operationBar" id="operationBar">
            <li>
              <a class="user-tx" href="#"><img src="../img/tx_header.jpg" /></a>
              <a class="" href="javascript:void" title="hello kitty">您好,Lisan</a>
            </li>
            <li>
              <a class="loginOut" href="javascript:void" title="退出 ">[退出]</a>
            </li>
            <li>
              <a class="site-answer icon" href="javascript:void" title="详解">
                <span class="icon-question"></span>
              </a>
            </li>
        </ul> <!-- 头部操作区搜索，设置，退出 -->
      </div>
</div>
 {% endblock %}