/*icon -set */
.icon-logo{

	display: inline-block;

	width:207px; height:33px;

	background: url(../img/static_all_icon.png) no-repeat 0px -122.5px;
}

/* + */
.icon-plus{

	display: inline-block;

	width:11px; height:11px;

	background: url(../img/static_all_icon.png) no-repeat -91.8px -98px;

}

/* x */
.icon-cross{

	display: inline-block;

	width:11px; height:10px;

	background: url(../img/static_all_icon.png) no-repeat -63px -98px;


}

/* ? */
.icon-question{

	display: inline-block;

	width:16px; height:17px;

	background: url(../img/static_all_icon.png) no-repeat -0px -99px;


}

/* calendar */
.icon-calendar{

	display: inline-block;

	width:20px; height:19px;

	background: url(../img/static_all_icon.png) no-repeat -31.9px -98px;


}

/* brown ( black and gray ) background up */
.icon-up-brown{

	display: inline-block;

	width:40px; height:40px;

	background: url(../img/static_all_icon.png) no-repeat -16px 0px;


}

/* white background down */
.icon-up-white{

	display: inline-block;

	width:40px; height:40px;

	background: url(../img/static_all_icon.png) no-repeat -71px 0px;


}

/* 4px-w-line brown*/
.icon-line-brown{

	display: inline-block;

	width:4px; height:16px;

	background: url(../img/static_all_icon.png) no-repeat 0px 0px;

}

/* btn bg deep blue*/
.icon-btn-blue{

	display: inline-block;

	width:81px; height:32px;

	background: url(../img/static_all_icon.png) no-repeat -92px -59px;

	font: bold 14px/32px "Microsoft YaHei" ,"微软雅黑",STxihei;
	
	color:#ffffff;

	text-align: center;

	cursor:pointer;
}

.icon-btn-gray{

	display: inline-block;

	width:81px; height:32px;

	background: url(../img/static_all_icon.png) no-repeat -1px -60px;

	color:#555555;

	font:bold 14px/32px "Microsoft YaHei" ,"微软雅黑",STxihei;

	text-align: center;

	cursor:pointer;
}

.icon-btn-azury{

	display: inline-block;

	width:81px; height:31px;

	background: url(../img/static_all_icon.png) no-repeat -188.9px -59px;

	color:#ffffff;

	font:bold 14px/32px "Microsoft YaHei" ,"微软雅黑",STxihei;

	text-align: center;

	cursor:pointer;
	vertical-align: middle;
}

.icon-btn-delete{

    display: inline-block;

	width: 7px; height: 7px;

	background: url(../img/static_all_icon.png) no-repeat -0px -177px;

	cursor:pointer;
	vertical-align: middle;

}


/* icon set end  */


*[class~="btn-"]{

	cursor: pointer;

}


.wraper{


}

.mainArea{

	position: relative;

	display: block;

	width:1200px;

	margin:0px auto;
}


/*common header css set*/
#header{

	width:100%;

	height: 51px;

	background: url(../img/t_p_bg.jpg) repeat-x top center transparent;

}

#header .mainArea{

	height: 51px;

}

#header .logo{

	display: block;
	width:207px; height:33px;
	float:left;
	margin-top: 10px;
}


#operationBar{

	float:right;
	height: 48px;
	font-size: 0;
}

#operationBar li{

	display: inline-block;
	height:48px;
	vertical-align: middle;
	line-height: 48px;
	color:#ffffff;
	margin-left:9px;
}

#operationBar li a{

	display: inline-block;
	height:inherit;
	vertical-align: middle;
	line-height: inherit;
	color:inherit;

}

#operationBar li span[class*="icon-question"]{

	margin:17px 9px auto 9px;

}

#operationBar li:hover a[class*="icon"]{

	background: #6c6f75;

	-webkit-transition:background  0.3s cubic-bezier(0.17, 0.67, 0.88, 1.25) 0s;
	-moz-transition:background  0.3s cubic-bezier(0.17, 0.67, 0.88, 1.25) 0s;
	-ms-transition:background  0.3s cubic-bezier(0.17, 0.67, 0.88, 1.25) 0s;
	-o-transition:background  0.3s cubic-bezier(0.17, 0.67, 0.88, 1.25) 0s;
		transition:background  0.3s cubic-bezier(0.17, 0.67, 0.88, 1.25) 0s;

}


#operationBar .loginOut{

	color:#ffcc00;

}

#operationBar .user-tx{

	;

	margin-right: 7px;

	

}

#operationBar .user-tx img{

	width:30px; height:30px;
	overflow:hidden;
}

#operationBar .user-tx img{

	margin-top:9px;

}

/*common header css set end */

/*common footer css set */
#footer {

	border:none;

	border-top:2px solid #6e788b;

	min-height: 184px;

	margin-top:100px;
}

#footer .siteinfo , #footer .copyright{

	text-align: center;

}


#footer .siteinfo{

	color:#6e788b;
	margin-top:20px;

}

#footer .copyright{


	color:#8e939c;
}


/*common footer css set end */


/* main content */

.levelTitle-1{

	position: relative;

	font:bold 16px "Microsoft YaHei" ,"微软雅黑",STxihei;

	height:40px;

	color:#4b4b4b;

	padding-left:14px;
}

.levelTitle-1 .icon-line-brown{

	position: absolute;

	top:5px; left:0px; 

}

.red{
	color:#f62e2e;
}

.levelTitle-1 .instruction{


	margin-left:30px;

	font:12px/28px "Microsoft YaHei" ,"微软雅黑",STxihei;

}


.levelTitle-1 .form-order{


	float:right;

	font:12px/28px "Microsoft YaHei" ,"微软雅黑",STxihei;

	color:#1273ea;

	cursor:pointer;

}


#fixed{

	position: absolute;

	font-size: 0px;

	width:100px; height:40px;

	right:-118px;

	bottom:0px;

}

#fixed .icon-up-white{

	margin-right:20px;

}

#fixed .icon-up-white , #fixed .icon-up-brown{

	cursor: pointer;

}

/* 上传时候的各个附件上传*/

#fsUploadProgress .progressWrapper{
     position: relative;
    display: inline-block;
    -webkit-border-radius:2px;
        -moz-border-radius:2px;
         -ms-border-radius:2px;
          -o-border-radius:2px;
              border-radius:2px;
    margin:9px auto 8px 7px;

    border:1px solid #f7f4f4;

    -webkit-transition:all  0.3s cubic-bezier(.9,.1,.88,1.25) 0s;
	-moz-transition:all  0.3s cubic-bezier(.9,.1,.88,1.25) 0s;
	-ms-transition:all  0.3s cubic-bezier(.9,.1,.88,1.25) 0s;
	-o-transition:all  0.3s cubic-bezier(.9,.1,.88,1.25) 0s;
		transition:all  0.3s cubic-bezier(.9,.1,.88,1.25) 0s;

    /*background-image:-moz-linear-gradient(top,#fcfcfc ,  #e8eaea);*/
    /*background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #fcfcfc), color-stop(1, #e8eaea));*/
    /*-ms-filter:"progid:DXImageTransform.Microsoft.gradient(StartColorStr='#fcfcfc ', EndColorStr='#e8eaea')";*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#fcfcfc ', EndColorStr='#e8eaea',Direction=90);*/
}

#fsUploadProgress .progressWrapper.none{

    display: none;


}


#fsUploadProgress .progressWrapper:first-child{
    margin-left:0px;
}
 .progressWrapper  .progressContainer{

    position: relative;

}
.progressWrapper .progressName{

    display: inline-block;

    vertical-align: middle;

    padding:3px 8px;

    overflow: hidden;

    color:#999999;
}

.progressWrapper .progressBarStatus{

    display: inline-block;

    width:20%;

    vertical-align: middle;
}

.progressWrapper  .progressBarInProgress{

    display: inline-block;
    width:60%;
    vertical-align: middle;
    overflow:hidden;
}

.progressWrapper .progressCancel{

    display: inline-block;

    position: absolute ;

    width: 7px ; height: 7px;

    right: 2px; top: 2px;

	background: url(../img/static_all_icon.png) no-repeat -0px -177px;

	cursor: pointer;

	vertical-align: middle;

    z-index:2;


}

.list-form-flt .memo{

       color:#999999;
}

/* purchase request begin */

 .flow-request {

	margin-top:34px;

}

 .flow-req-cont{

	background: url(../img/gry_whit_bg.jpg) repeat-x center top;

	border:1px solid #f9f9f9;

    border-bottom:1px dashed #d0d0d0;

	border-top:none;

	padding-top:43px;

}



 .flow-request .list-form-flt{

		margin-bottom: 14px;


}


.flow-request .list-form-flt:last-child,.flow-request .list-form-flt.last {

		margin-bottom: 99px;

        margin-top:44px;
}


.flow-request .list-form-flt dt{

	width:135px;

	text-align: right;

}

.flow-request .list-form-flt dd{

	padding-left:9px;

    max-width:1011px;
}

 .flow-request .list-form-flt .formExplain , .flow-request .list-form-flt .state-wait-sure{

	font:12px/26px  Arial,"Microsoft YaHei" ,"微软雅黑",STxihei;

	color:#555555;

	vertical-align: middle;

}



 .flow-request .list-form-flt a[class^="icon-btn"]{

	margin-right: 29px;

}


.flow-request .list-form-flt  input[type="password"],.flow-request .list-form-flt  input[type="text"],.flow-request .list-form-flt  input[type="password"]{

	width:378px;

	vertical-align: middle;

    padding-left: 10px;
}

.flow-request .list-form-flt  input[type="text"].w1-2{

    width:165px;


}


.flow-request .list-form-flt  select{

	width:378px;

	padding-left: 10px;

}


.flow-request .list-form-flt  textarea{

	width:915px;

	min-height:66px;

	padding-left: 10px;

}

.flow-request.purchase-approve  textarea.advice{

    width:1009px;

}

 .flow-request .table-gray{

	width:800px;

	margin-top:11px;

}

.flow-request .btn_add{

	color:#1273ea;

	cursor:pointer;

}

 .flow-request .btn_scan {

	color:#2e5da6;
	margin-right:10px;
}

.flow-request .btn_clear_plugin{

	margin:auto 16px auto 25px;
	cursor: pointer;
}

.purchase-request .btn_add_plugin , .flow-request .btn_add_plugin{

	margin-right:8px;

	cursor: pointer;

}

span.customSelect {
    font:12px sans-serif;
    background:#fff url(../img/customSelect-arrow.gif)  no-repeat 357px 12px;
    border:1px solid #ddd;
    color:#555;
    padding:0px 10px;
    -moz-border-radius: 2px 2px;
    -webkit-border-radius: 2px 2px;
    border-radius: 2px 2px;
    width:358px;
    height:26px;
}


 .flow-request .belongto-render{

	width:378px;

	position: relative;
}

  .flow-request .belongto-render .msg-box.n-right{

        position: absolute;
        margin:0px!important;
        left:380px!important;

        top:8px!important;
  }


.flow-request .belongto-render select  option{

	height: 26px;

	line-height: 26px;

	vertical-align: middle;

	padding-top:8px;

}


 .flow-request .btn_delete{

	cursor: pointer;

    display: inline-block;

    margin-left:10px;
}


/*#purchase-pro-add-list.oa-flow-table {*/
	/*clear:both;*/
	/*width:1011px;*/
	/*margin-left:0px;*/
	/*margin-top:11px;*/
/*}*/

 .oa-flow-table{

     width:100%;
 }

 .oa-flow-table span{

    font:12px/40px "Microsoft YaHei" ,"微软雅黑",STxihei;

 }


.oa-flow-table li{


	font-size: 0px;

	height:40px;

	vertical-align: middle;

	border:1px solid #eaecef;

}

.oa-flow-table li:nth-child(odd){

	background: #f8f8f8;

}
.oa-flow-table .heads{

	background:#eaecef!important;

	vertical-align: middle;

	font-weight: bold;

	font-family:"Microsoft YaHei" ,"微软雅黑",STxihei;


}


.oa-flow-table  span{

	display: inline-block;

	height:40px; line-height: 40px;

    vertical-align: middle;
}

.oa-flow-table  .chosen{

	width:52px;

    vertical-align: middle;

    ;

}

.oa-flow-table  .chosen .checkbox{

    display: inline-block;

    width:16px; height:16px;

    margin-left:17px;

    margin-top:13px;

    background: url("/static/img/static_all_icon.png") no-repeat -0px -203px;

    -webkit-transition:all  0.3s cubic-bezier(.9,.1,.88,1.25) 0s;
	-moz-transition:all  0.3s cubic-bezier(.9,.1,.88,1.25) 0s;
	-ms-transition:all  0.3s cubic-bezier(.9,.1,.88,1.25) 0s;
	-o-transition:all  0.3s cubic-bezier(.9,.1,.88,1.25) 0s;
		transition:all  0.3s cubic-bezier(.9,.1,.88,1.25) 0s;

}

.oa-flow-table.purchase-offer-list{

       margin-top:25px;

}



.oa-flow-table  .chosen.selected .checkbox{

      background: url("/static/img/static_all_icon.png") no-repeat -0px -219px;

}

.oa-flow-table .pro-name{

	width:321px;

}

.oa-flow-table.purchase-offer-list  .pro-name{

	width:283px;

    margin-left:76px;


}


.oa-flow-table .pro-type{

	width:321px;

}

.oa-flow-table.purchase-offer-list .pro-type{

   width:251px;

}

.oa-flow-table .pro-count{

	width:308px;

}

.oa-flow-table.purchase-offer-list .pro-count{

    width:209px;

}

.oa-flow-table.purchase-offer-list .pro-price{

    width:187px;

}


.oa-flow-table.purchase-offer-list  .chosen input {

    display: none;
}

.oa-flow-table  input[type="text"] , .oa-flow-table  textarea{

	width:290px;

    padding-left: 10px;

    margin-top:8px;
}

/*#purchase-pro-add-list.oa-flow-table input[type="text"]{*/

    /*width:290px;*/

    /*padding-left: 10px;*/

    /*margin-top:8px;*/

/*}*/

.oa-flow-table  input[type="checkbox"]{

	margin-top:2px;

	margin-left:17px;

}

.oa-flow-table .heads input[type="checkbox"]{

	margin-top:7px;

}

.oa-flow-table.purchase-offer-list .pro-price input[type="text"]{

    width:170px;

}

.oa-flow-table.purchase-proe .heads .pro-name , .oa-flow-table .heads .pro-type , .oa-flow-table .heads .pro-count {

	text-indent: 13px;

}

.oa-flow-table  .heads span{

	text-indent: 0px;

    font:bold 12px/40px Arial , "Microsoft YaHei", "微软雅黑",STHeiti;

}




.oa-flow-table.purchase-offer-list .item .pro-name , .oa-flow-table.purchase-offer-list .item .pro-type , .oa-flow-table.purchase-offer-list .item .pro-count {

	text-indent: 0px;

    overflow:hidden;

	white-space: nowrap;

	text-overflow:ellipsis;


}

.oa-flow-table.flow-progress .item , .oa-flow-table.flow-progress .heads {

        height:44px;

}

.oa-flow-table.flow-progress span{

        display: inline-block;

        height:44px;

        line-height:44px;

        vertical-align: middle;
}





.oa-flow-table.flow-progress  .flow-node{

    width:129px; margin-left:41px;

}
.oa-flow-table.flow-progress  .flow-advice{

    width:159px;

}

.oa-flow-table.flow-progress  .flow-operate{

    width:162px;

}
.oa-flow-table.flow-progress  .flow-operate-time{

    width:257px;

}
.oa-flow-table.flow-progress  .flow-operater{

    width:249px;

}

.oa-flow-table.flow-progress  .flow-reciver{

    width:201px;

}



.flow-form .memo .blueFont{

    font-weight: bold;

}

.option-box{

    display: inline-block;

}

.option-item{
    display: inline-block;
    position: relative;
    background: #f0f7ff;
    border:1px solid #cfe2fc;
    padding-left:11px;
    margin-right:9px;
    font:12px/2  "Microsoft YaHei", "微软雅黑",STHeiti;
    color:#2e5da6;
    vertical-align: middle;
}

.option-item .icon-cross{

    float: right;

    margin:8px 7px auto 13px;

    cursor:pointer;
}

/* purchase request end */