/* purchase request begin */

.purchase-request , .flow-request {

	margin-top:34px;

}

.purchase-req-cont , .flow-req-cont{

	background: url(../img/gry_whit_bg.jpg) repeat-x center top;

	border:1px solid #f9f9f9;

    border-bottom:1px dashed #d0d0d0;

	border-top:none;

	padding-top:43px;

}



.purchase-request .list-form-flt , .flow-request .list-form-flt{

		margin-bottom: 14px;


}


.purchase-request .list-form-flt:last-child,.purchase-request .list-form-flt.last  ,.flow-request .list-form-flt:last-child,.flow-request .list-form-flt.last {

		margin-bottom: 99px;

        margin-top:44px;
}


.purchase-request .list-form-flt dt , .flow-request .list-form-flt dt{

	width:135px;

	text-align: right;

}

.purchase-request .list-form-flt dd , .flow-request .list-form-flt dd{

	padding-left:9px;	

    max-width:1011px;
}

.purchase-request .list-form-flt .formExplain , .flow-request .list-form-flt .formExplain , .flow-request .list-form-flt .state-wait-sure{

	font:12px/26px  Arial,"Microsoft YaHei" ,"微软雅黑",STxihei;

	color:#555555;

	vertical-align: middle;

}



.purchase-request .list-form-flt a[class^="icon-btn"] , .flow-request .list-form-flt a[class^="icon-btn"]{

	margin-right: 29px;

}


.purchase-request .list-form-flt  input[type="text"],.flow-request .list-form-flt  input[type="password"],.flow-request .list-form-flt  input[type="text"],.flow-request .list-form-flt  input[type="password"]{

	width:378px;

	vertical-align: middle;

    padding-left: 10px;
}


.purchase-request .list-form-flt  select ,.flow-request .list-form-flt  select{

	width:378px;

	padding-left: 10px;

}


.purchase-request .list-form-flt  textarea , .flow-request .list-form-flt  textarea{

	width:915px;

	min-height:66px;

	padding-left: 10px;

}

.flow-request.purchase-approve  textarea.advice{

    width:1009px;

}

.purchase-request .table-gray  , .flow-request .table-gray{

	width:800px;

	margin-top:11px;

}

.purchase-request .btn_add , .flow-request .btn_add{

	color:#1273ea;

	cursor:pointer;

}

.purchase-request .btn_scan , .flow-request .btn_scan {

	color:#2e5da6;
	margin-right:10px;
}

.purchase-request .btn_clear_plugin , .flow-request .btn_clear_plugin{

	margin:auto 16px auto 25px;
	cursor: pointer;
}	

.purchase-request .btn_add_plugin , .flow-request .btn_add_plugin{

	margin-right:8px;

	cursor: pointer;

}

span.customSelect { 
    font:12px sans-serif;
    background:#fff url(../img/customSelect-arrow.gif)  no-repeat 357px 12px;
    border:1px solid #ddd;
    color:#555;
    padding:0px 10px;
    -moz-border-radius: 2px 2px;
    -webkit-border-radius: 2px 2px;
    border-radius: 2px 2px;
    width:358px;
    height:26px;
}


#purchase-request .belongto-render , .flow-request .belongto-render{

	width:378px;

	position: relative;
}



#purchase-request .belongto-render select  option , .flow-request .belongto-render select  option{

	height: 26px;

	line-height: 26px; 

	vertical-align: middle;

	padding-top:8px;

}


#purchase-request .btn_delete , .flow-request .btn_delete{

	cursor: pointer;

    display: inline-block;

    margin-left:10px;
}


#purchase-pro-add-list.oa-flow-table {
	clear:both;
	width:1011px;
	margin-left:0px;
	margin-top:11px;
}

 .oa-flow-table{

     width:100%;
 }

 .oa-flow-table span{

    font:12px/40px "Microsoft YaHei" ,"微软雅黑",STxihei;

 }


.oa-flow-table li{

	
	font-size: 0px;

	height:40px;

	vertical-align: middle;

	border:1px solid #eaecef;

}

.oa-flow-table li:nth-child(odd),#purchase-pro-add-list li.odd{

	background: #f8f8f8;

}
.oa-flow-table .heads{

	background:#eaecef!important;

	vertical-align: middle;

	font-weight: bold;

	font-family:"Microsoft YaHei" ,"微软雅黑",STxihei;


}


.oa-flow-table  span{

	display: inline-block;

	height:40px; line-height: 40px;

    vertical-align: middle;
}

.oa-flow-table  .chosen{

	width:52px;

    vertical-align: middle;

    ;

}

.oa-flow-table  .chosen .checkbox{

    display: inline-block;

    width:16px; height:16px;

    margin-left:17px;

    margin-top:13px;
    
    background: url("/static/img/static_all_icon.png") no-repeat -0px -203px;

    -webkit-transition:all  0.3s cubic-bezier(.9,.1,.88,1.25) 0s;
	-moz-transition:all  0.3s cubic-bezier(.9,.1,.88,1.25) 0s;
	-ms-transition:all  0.3s cubic-bezier(.9,.1,.88,1.25) 0s;
	-o-transition:all  0.3s cubic-bezier(.9,.1,.88,1.25) 0s;
		transition:all  0.3s cubic-bezier(.9,.1,.88,1.25) 0s;

}

.oa-flow-table.purchase-offer-list{

       margin-top:25px;

}



.oa-flow-table  .chosen.selected .checkbox{

      background: url("/static/img/static_all_icon.png") no-repeat -0px -219px;

}

.oa-flow-table .pro-name{

	width:321px;

}

.oa-flow-table.purchase-offer-list  .pro-name{

	width:283px;

    margin-left:76px;


}


.oa-flow-table .pro-type{

	width:321px;

}

.oa-flow-table.purchase-offer-list .pro-type{

   width:251px;

}

.oa-flow-table .pro-count{

	width:308px;

}

.oa-flow-table.purchase-offer-list .pro-count{

    width:209px;

}

.oa-flow-table.purchase-offer-list .pro-price{

    width:187px;

}


.oa-flow-table.purchase-offer-list  .chosen input {

    display: none;
}

.oa-flow-table  input[type="text"] , .oa-flow-table  textarea{

	width:290px;

    padding-left: 10px;

    margin-top:8px;
}

#purchase-pro-add-list.oa-flow-table input[type="text"]{

    width:290px;

    padding-left: 10px;

    margin-top:8px;

}

.oa-flow-table  input[type="checkbox"]{

	margin-top:2px;

	margin-left:17px;

}

.oa-flow-table .heads input[type="checkbox"]{

	margin-top:7px;

}

.oa-flow-table.purchase-offer-list .pro-price input[type="text"]{

    width:170px;

}

.oa-flow-table.purchase-proe .heads .pro-name , .oa-flow-table .heads .pro-type , .oa-flow-table .heads .pro-count {

	text-indent: 13px;

}

.oa-flow-table  .heads span{

	text-indent: 0px;

    font:bold 12px/40px Arial , "Microsoft YaHei", "微软雅黑",STHeiti;

}




.oa-flow-table.purchase-offer-list .item .pro-name , .oa-flow-table.purchase-offer-list .item .pro-type , .oa-flow-table.purchase-offer-list .item .pro-count {

	text-indent: 0px;

    overflow:hidden;

	white-space: nowrap;

	text-overflow:ellipsis;


}

.oa-flow-table.flow-progress .item , .oa-flow-table.flow-progress .heads {

        height:44px;

}

.oa-flow-table.flow-progress span{

        display: inline-block;

        height:44px;

        line-height:44px;

        vertical-align: middle;

}





.oa-flow-table.flow-progress  .flow-node{

    width:129px; margin-left:41px;

}
.oa-flow-table.flow-progress  .flow-advice{

    width:159px;

}

.oa-flow-table.flow-progress  .flow-operate{

    width:162px;

}
.oa-flow-table.flow-progress  .flow-operate-time{

    width:257px;

}
.oa-flow-table.flow-progress  .flow-operater{

    width:249px;

}

.oa-flow-table.flow-progress  .flow-reciver{

    width:201px;

}



.flow-form .memo .blueFont{

    font-weight: bold;

}

/* purchase request end */